html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
footer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
flex {
    display: flex;
}
.align-l {
    float: left;
}
.align-r {
    float: right;
}