@model LearnPortalASP.BLL.DTO.PublicationDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Material -> Publication</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Discriminator" class="mb-3 form-control mb-3" value="Book" readonly="true"/>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="mb-3 text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="mb-3 text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="mb-3 text-danger"></span>
            </div>
            
            <div class="form-group">
                @*<label asp-for="CreatorUserName" class="control-label"></label>*@
                <input type="hidden" asp-for="CreatorUserName" class="mb-3 form-control mb-3" value="@User.Identity?.Name" readonly="true"/>
                <span asp-validation-for="CreatorUserName" class="mb-3 text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="mb-3 btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

