@model LearnPortalASP.BLL.DTO.MaterialDTO
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="bm-3">Choose material type to create</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <a asp-controller="Books" asp-action="Create" type="button" class="btn btn-outline-dark me-3 mb-3">Book</a>
            <button type="button" class="btn btn-outline-dark me-3 mb-3">Video</button>
            <button type="button" class="btn btn-outline-dark me-3 mb-3">Publication</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

