@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('img/bgsample5.jpg'); background-size: cover;">
    @*<div class="text-center">
        <h1 class="display-1 mx-auto">Welcome to LearnPortal</h1>
    </div>*@
</body>
